---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/header.astro";
import NavTools from "@/components/nav-tools.astro";
import Screen from "@/components/screen.astro";
import FloatTools from "@/components/float-tools.astro";
import ToolEdit from "@/components/toolEdit";
---

<Layout title="Schemy App">
  <main>
    <Header />
    <NavTools />
    <Screen />
    <ToolEdit client:load />
  </main>
</Layout>

<script>
  import Main from "@/js/main";
  Main();
</script>
