<div class="fixed z-[100] tool rounded-md shadow-2xl" id="float-tools">
  <header class="tool-2 rounded-t-md cursor-move" id="float-tools-header">
    Tools
  </header>
  <div class="content">asdsad</div>
</div>

<style>
  #float-tools {
    width: 280px;
    height: 200px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-8px);
    transition:
      opacity 0.1s ease-in-out,
      visibility 0.1s ease-in-out,
      transform 0.1s ease-in-out;
  }
  #float-tools-header {
    user-select: none;
  }
  #float-tools.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
</style>

<script>
  import { showFloatTools } from "@/js/store";

  const $floatTools = document.getElementById("float-tools");
  const $floatToolsHeader = document.getElementById("float-tools-header");

  showFloatTools.subscribe((show) => {
    if (show) {
      $floatTools.classList.add("show");
    } else {
      $floatTools.classList.remove("show");
    }
  });

  let left = 8;
  let top = 70;

  $floatTools.style.left = `${left}px`;
  $floatTools.style.top = `${top}px`;
  ////////////

  let initialX = 0;
  let initialY = 0;
  let dragging = false;

  $floatToolsHeader.addEventListener("mousedown", (e) => {
    initialX = e.pageX;
    initialY = e.pageY;

    dragging = true;
  });

  window.addEventListener("mousemove", (e) => {
    if (dragging) {
      let dx = Math.max(left + e.pageX - initialX, 8);
      let dy = Math.max(top + e.pageY - initialY, 70);

      dx = Math.min(dx, window.innerWidth - 288);
      dy = Math.min(dy, window.innerHeight - 60);

      $floatTools.style.left = `${dx}px`;
      $floatTools.style.top = `${dy}px`;
    }
  });

  window.addEventListener("mouseup", (e) => {
    if (!dragging) {
      return;
    }
    dragging = false;

    left += e.pageX - initialX;
    top += e.pageY - initialY;
  });
</script>
