<nav class="fixed top-0 left-0 z-50 flex gap-2 items-center p-2">
  <button
    class="main-button tool text-center w-12 h-12 rounded-full shadow-xl hover:opacity-80 focus:tool-highlighted block transition-all"
    id="tool-btn-openeditor">T</button
  >
  <button
    class="main-button tool text-center w-12 h-12 rounded-full shadow-xl hover:opacity-80 focus:tool-highlighted block transition-all"
    id="tool-btn-write">D</button
  >
</nav>

<style>
  .tool-highlighted {
    background-color: red;
  }
</style>

<script>
  import { StatusMode, showEditTools } from "@/js/store";
  import { STATUS_MODES } from "@/js/constants";

  const $btnWrite = document.querySelector("#tool-btn-write");
  const $btnOpenEditor = document.querySelector("#tool-btn-openeditor");

  $btnWrite.addEventListener("click", () => {
    const currentMode = StatusMode.get();
    if (currentMode === STATUS_MODES.ONSTAGE) {
      StatusMode.set(STATUS_MODES.DRAWING);
    } else {
      StatusMode.set(STATUS_MODES.ONSTAGE);
    }
  });

  $btnOpenEditor.addEventListener("click", () => {
    showEditTools.set(!showEditTools.value);
  });

  StatusMode.subscribe((mode) => {
    switch (mode) {
      case STATUS_MODES.DRAWING:
        $btnWrite.classList.add("tool-highlighted");
        break;
      default:
        $btnWrite.classList.remove("tool-highlighted");
        break;
    }
  });

  showEditTools.subscribe((show) => {
    if (show) {
      $btnOpenEditor.classList.add("tool-highlighted");
    } else {
      $btnOpenEditor.classList.remove("tool-highlighted");
    }
  });
</script>
