---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline src="https://unpkg.com/ml5@1/dist/ml5.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  [data-theme="light"] {
    --color-bg: #d6dbdc;
    --color-bg-tools: #fff;
    --color-bg-tools-2: #f2f2f2;
    --color-fg: #000000;
  }

  [data-theme="dark"] {
    --color-bg: #222;
    --color-bg-tools: #333;
    --color-bg-tools-2: #2a2a2a;
    --color-fg: #ffffff;
  }

  html,
  body {
    overflow: hidden;
  }
  body {
    color: var(--color-fg);
    background: var(--color-bg);
    width: 100dvw;
    height: 100dvh;
  }
  html,
  body {
    overflow: hidden;
  }

  .text-balance {
    text-wrap: balance;
  }
  .tool {
    color: var(--color-fg);
    background: var(--color-bg-tools);
  }
  .tool-2 {
    color: var(--color-fg);
    background: var(--color-bg-tools-2);
  }
  .bg-base {
    background-color: var(--color-bg);
  }

  .more-colors:before {
    position: absolute;
    top: -10px;
    right: 8px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 10px 6px;
    border-color: transparent transparent var(--color-bg) transparent;
  }
</style>
